<div class="dataAnalyzePage" id="jskqIndex">
    <div style="display: flex;">
        <div class="_div1" style="width: 220px;">
            <div @click="openPick(1,$event)" style="display: flex;justify-content:space-between;">
                <span>{{computT(1)}}</span>
                <img src="images/icon_calendar.png" width="14" height="14" />
            </div>
            <div>{{!type ? '学生请假 (人)' : '考勤打卡（次）'}}<span style="font-size: 24px;color: #F5A623;margin:12px;">{{data1.d2}}</span><span style="font-size: 12px;color: #AAAAAA;">同比</span><span style="font-size: 12px;color:#88E91D;">{{data1.d3}}%</span></div>
        </div>
        <div class="_div2" v-for="d in data1.d4">
            <div class="_div2_1">{{d[0]}}</div>
            <div class="_div2_2">{{d[1]}}</div>
        </div>
    </div>
    <div style="display: flex;">
        <div class="dataAnalyzeBox">
            <div class="dataAnalyzeBox_t">
                <div class="dataAnalyzeBox_title">{{type ? '各专业请假占比' : '学生请假专业占比'}}</div>
                <div class="dataAnalyzeBox_t_right">
                    <input type="text" @click="openPick(3,$event)" class="dataAnalyzeTime dataAnalyzeTime_s" :value="computT(3)" />
                    <input type="text" v-if="!type" @click="openDept(3,$event)" class="dataAnalyzeTime dataAnalyzeTime_s" :value="data3.dept" />
                </div>
            </div>
            <div class="dataAnalyzeBox_c">
                <div style="display: flex;margin:0px 30px;">
                    <div class="_div3" id="jskqIndex2"></div>
                </div>
            </div>
        </div>
        <div class="dataAnalyzeBox">
            <div class="dataAnalyzeBox_t">
                <div class="dataAnalyzeBox_title">{{type ? '班级请假异常状态分析' : '学生请假异常状态分析'}}</div>
                <div class="dataAnalyzeBox_t_right">
                    <input type="text" @click="openPick(4,$event)" class="dataAnalyzeTime" :value="data4.t" />
                </div>
            </div>
            <div class="dataAnalyzeBox_c">
                <div>
                    <div class="_div3" id="jskqztzb5"></div>
                </div>
            </div>
        </div>
        <div class="dataAnalyzeBox">
            <div class="dataAnalyzeBox_t">
                <div class="dataAnalyzeBox_title">{{type ? '班级请假学年统计' : '学生请假学年统计'}}</div>
                <div class="dataAnalyzeBox_t_right">
                    <input type="text" @click="openPick(6,$event)" class="dataAnalyzeTime" :value="data6.t" />
                </div>
            </div>
            <div class="dataAnalyzeBox_c">
                <div>
                    <div class="_div3" id="jskqztzb6"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="dataAnalyzeBox" style="margin-right: 0px;">
        <div class="dataAnalyzeBox_t">
            <div class="dataAnalyzeBox_title">{{type ? '学生请假班级趋势图' : '全校学生请假趋势图'}}</div>
            <div class="dataAnalyzeBox_t_right">
                <input type="text" @click="openPick(2,$event)" class="dataAnalyzeTime" :value="computT(2)" />
                <!-- <span class="dataAnalyzeSearchBtn">搜索</span> -->
            </div>
        </div>
        <div class="dataAnalyzeBox_c" id="jskqIndex1" style="height: 370px;"></div>
    </div>
    <div class="dataAnalyzeBox" style="margin-right: 0px;">
        <div class="dataAnalyzeBox_t">
            <div class="dataAnalyzeBox_title">学生请假详细统计</div>
            <div class="dataAnalyzeBox_t_right">
                <input type="text" @click="openPick(5,$event)" class="dataAnalyzeTime" :value="computT(2)" />
                <input type="text" v-if="!type" @click="openDept(5,$event)" class="dataAnalyzeTime" :value="data5.dept" />
            </div>
        </div>
        <div class="dataAnalyzeBox_c">
            <div class="table">
                <div id="table"></div>
            </div>
            <div class="list_footer">
                <div id="pagaBtns"></div>
            </div>
        </div>
    </div>
</div>
<style type="text/css">
    ._div1{
        background: #fff;
        border: 1px solid #E6EAEE;
        border-radius: 4px;
        overflow: hidden;
        padding:20px 10px;
        height: 63px;
    }
    ._div2{
        background: #fff;
        border: 1px solid #E6EAEE;
        border-radius: 4px;
        overflow: hidden;
        padding:22px 10px;
        height: 60px;
        flex: 1;
        margin-left: 10px;
    }
    ._div2_1{
        font-size: 14px;
        color: #666666;
        text-align: center;
    }
    ._div2_2{
        font-size: 16px;
        color: #F5A623;
        text-align: center;
    }
    ._div3{
        flex: 1;
        height: 250px;
    }
    .dataAnalyzeBox .table table{
        border: none;
    }
</style>
<script src="js/echarts.min.js"></script>
<script type="text/javascript">
    (function(){
        $('.rightContent').css('background','none');
        var type = Y.urlQuery('type');
        var vue = new Vue({
            el:'#jskqIndex',
            data:{
                type:type,
                data1:{
                    type:'month',
                    t:'2018-01',
                    d2:25,
                    d3:-1,
                    d4:!type ? [['请假最多的班级','汽修17级03'],['异常请假最多班级','机械设计17级01'],['请假最多一天','2018.03.18'],['请假最多的学生','李明 （22次）'],['异常请假预警',' 20次']] : [['请假最多的月份','2018.03（22次）'],['异常请假最多月份','2018.04（4次）'],['请假最多一天','2018.03.18（12次）'],['请假最多的学生','李明（22次）'],['异常请假预警','6次']]
                },
                data2:{
                    t:'2018-04',
                    type:'month'
                },
                data3:{
                    t:'2018-04',
                    type:'month',
                    d:!type ? [
                        ['教师总数',159,1],
                        ['出勤人数',124,1],
                        ['请假人数',12,2],
                        ['专职教师/兼职教师（人）','127/32',0]
                    ] : [
                        ['出勤总数（天）',159,1],
                        ['正常出勤（天）',124,1],
                        ['请假（天）',12,2]
                    ],
                    dept:'全部'
                },
                data4:{
                    t:'2018-04',
                    type:'month',
                    d:[
                        ['迟到',159,1],
                        ['旷工',124,1],
                        ['请假',12,2],
                        ['早退',2,0],
                        ['范围外',3,-1]
                    ]
                },
                data5:{
                    t:'2018-04',
                    type:'month',
                    d:[
                        {id:1}
                    ],
                    dept:'全部'
                },
                data6:{
                    t:'2018-04',
                    type:'month',
                    d:[
                        {id:1}
                    ],
                    dept:'全部'
                }
            },
            methods:{
                computT:function(flog){
                    return this['data' + flog].type == 'week' ? '第' + this['data' + flog].t + '周' : this['data' + flog].t;
                },
                openPick:function(flog,e){
                    var _this = this;
                    Y.dataAnalyzePick(function(type,value){
                        _this['data' + flog].type = type;
                        _this['data' + flog].t = value;
                        _this['build' + flog]();
                    },this['data' + flog].type,$(e.target))
                },
                openDept:function(flog,e){
                    var _this = this;
                    Y.dataAnalyzePickDept(function(value){
                        _this['data' + flog].dept = value;
                        _this['build' + flog]();
                    },$(e.target))
                },
                build1:function(){
                    var total = type ? 30 : 200;
                    var p = 0;
                    switch(this.data1.type){
                        case 'year':
                            p = 0.4;
                            break;
                        case 'month':
                            p = 0.8;
                            break;
                        case 'week':
                            p = 0.9;
                            break;
                        default:
                            break;
                    }
                    this.data1.d2 = parseInt(total * p * (Math.random() + 0.5));
                    this.data1.d3 = parseInt(Math.random() * 20 - 10);
                },
                build2:function(){
                    var myChart = echarts.init(document.getElementById('jskqIndex1'));
                    var xAxis = [],total = 0,dayNum = 1;
                    function buildArray(max){
                        var rc = [];
                        for(var i = 1; i <= max; i ++) rc.push(i);
                        return rc;
                    }
                    switch(this.data2.type){
                        case 'year':
                            xAxis = buildArray(12);
                            total = 3000;
                            dayNum = 30;
                            break;
                        case 'month':
                            var months = [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31],d = this.data2.t.split('-');
                            d[1] = d[1].charAt(0) == 0 ? d[1].charAt(1) : d[1];
                            months[1] = (d[0] % 4 == 0 && d[0] % 100 != 4) || d[0] % 400 == 0 ? 29 : 28;
                            xAxis = buildArray(months[d[1] - 1]);
                            total = 100;
                            break;
                        case 'week':
                            xAxis = ['周一','周二','周三','周四','周五'];
                            total = 100;
                            break;
                        default:
                            break;
                    }
                    if(type) total = total / 2;
                    var data1 = [],data2 = [];
                    for(var i = 0; i < xAxis.length; i ++){
                        var err = parseInt(Math.random() * 9 + 1) * dayNum;
                        data2.push(err);
                        data1.push(total - err);
                    }
                    myChart.setOption({
                        color:['#64BBFB','#F5A623'],
                        tooltip : {
                            trigger: 'axis'
                        },
                        legend: {
                            data:['正常','异常'],
                            y:'15'
                        },
                        calculable : true,
                        xAxis : [
                            {
                                type : 'category',
                                boundaryGap : false,
                                data : xAxis
                            }
                        ],
                        yAxis : [
                            {
                                type : 'value'
                            }
                        ],
                        series : [
                            {
                                name:'正常',
                                type:'line',
                                smooth:true,
                                data:data1
                            },
                            {
                                name:'异常',
                                type:'line',
                                smooth:true,
                                data:data2
                            }
                        ]
                    });
                },
                build3:function(){
                    var data = [
                        {value:35, name:'轨道专业'},
                        {value:31, name:'机械设计专业'},
                        {value:23, name:'安检专业'},
                        {value:13, name:'文秘专业'},
                        {value:18, name:'汽修专业'}
                    ]
                    var total = 0;
                    for(var i = 0; i < data.length; i ++){
                        var _t = parseInt(Math.random() * 100);
                        total += _t;
                        data[i].value = _t;
                    }
                    var myChart = echarts.init(document.getElementById('jskqIndex2'));
                    myChart.setOption({
                        color:['#9CDA58','#64BBFB','#E88E6D','#EBEBEB','#FDB55E','#e91e63','#607d8b'],
                        title : {
                            text: '总请假人次' + total,
                            subtext: '',
                            x:'left',
                            y:'bottom'
                        },
                        tooltip : {
                            trigger: 'item',
                            formatter: "{a} <br/>{b} : {c} ({d}%)"
                        },
                        calculable : true,
                        series : [
                            {
                                name:'专业',
                                type:'pie',
                                radius : '55%',
                                center: ['50%', '60%'],
                                data:data
                            }
                        ]
                    });
                },
                build4:function(){
                    var myChart = echarts.init(document.getElementById('jskqztzb5'));
                    var total = 0;
                    switch(this.data4.type){
                        case 'year':
                            total = 360000;
                            break;
                        case 'month':
                            total = 3000;
                            break;
                        case 'week':
                            total = 700;
                            break;
                        default:
                            break;
                    }
                    var data = [
                        {value:310, name:'返校超时'},
                        {value:234, name:'过期'},
                        {value:135, name:'撤回'},
                        {value:1048, name:'超时未出校'},
                        {value:251, name:'超时未返校'},
                        {value:147, name:'驳回'}
                    ]
                    var err = parseInt(Math.random() * 20) / 100 * total;
                    for(var i = 0; i < 5; i ++){
                        data[i].value = parseInt(err * 0.166);
                        err -= data[i].value;
                    }
                    if(err > 0){
                        data[5].value = err;
                    }
                    this.data4.d[0][1] = data[0].value;
                    this.data4.d[1][1] = data[4].value;
                    this.data4.d[2][1] = data[5].value;
                    this.data4.d[3][1] = data[1].value;
                    this.data4.d[4][1] = data[3].value;
                    myChart.setOption({
                        color:['#9CDA58','#64BBFB','#E88E6D','#EBEBEB','#FDB55E','#e91e63','#607d8b'],
                        tooltip : {
                            trigger: 'item',
                            formatter: "{a} <br/>{b} : {c} ({d}%)"
                        },
                        /*legend: {
                            data:['迟到','早退','缺卡','范围外','旷工','请假'],
                            y:'bottom',
                            x: 'right'
                        },*/
                        calculable : false,
                        series : [
                            {
                                name:'状态',
                                type:'pie',
                                radius : '55%',
                                center: ['50%', '60%'],

                                data:data
                            }
                        ]
                    });
                },
                build5:function(){
                    var option = {pageSize: "dataAnalyzejskqindex", pageNum: 1};
                    var config = [
                        !type ? {CH: "姓名", EN: "name"} : {CH: "时间", EN: "time"},
                        {CH: "校内", EN: "t1"},
                        {CH: "校外", EN: 't2'},
                        {CH: "病假", EN: "t3"},
                        {CH: "事假", EN: "t4"},
                        {CH: "正常", EN: "t5"},
                        {CH: "异常", EN: "t6"},
                        {CH: "时长(小时)", EN: "t7"}
                    ];
                    var list = new Y.List('', option, config);
                    var data = [];
                    for(var i = 0; i < 50; i ++) {
                        var _data = {
                            id:i,
                            time:this.data4.t,
                            name:'赵钱孙李周吴郑王'.charAt(parseInt(Math.random() * 9)) + '莉贺平飞云颖比波'.charAt(parseInt(Math.random() * 8)),
                            dept:dataDic.depts[parseInt(Math.random() * dataDic.depts.length)],
                            t1:parseInt(Math.random() * 1000),
                            t2:parseInt(Math.random() * 10),
                            t3:parseInt(Math.random() * 10),
                            t4:parseInt(Math.random() * 10),
                            t5:parseInt(Math.random() * 10),
                            t6:parseInt(Math.random() * 10),
                            t7:parseInt(Math.random() * 2000),
                            t8:parseInt(Math.random() * 10)
                        };
                        data.push(_data);
                    }
                    list.SQLite = new Y.SQLite(data);
                    list.listNumTitle = "序号";
                    list.load();
                },
                build6:function(){
                    var myChart = echarts.init(document.getElementById('jskqztzb6'));
                    var data1 = [],data2 = [];
                    for(var i = 0; i < 12; i ++){
                        data1.push(parseInt(Math.random() * 150));
                        data2.push(parseInt(Math.random() * 50))
                    }
                    myChart.setOption( {
                        color:['#34B5FF','#F5A623'],
                        tooltip : {
                            trigger: 'axis'
                        },
                        legend: {
                            data:['校内','校外']
                        },
                        calculable : true,
                        xAxis : [
                            {
                                type : 'category',
                                data : ['1月','2月','3月','4月','5月','6月','7月','8月','9月','10月','11月','12月']
                            }
                        ],
                        yAxis : [
                            {
                                type : 'value'
                            }
                        ],
                        series : [
                            {
                                name:'校内',
                                type:'bar',
                                data:data1
                            },
                            {
                                name:'校外',
                                type:'bar',
                                data:data2
                            }
                        ]
                    });
                },
                buildChat:function(){
                    this.build1();
                    this.build2();
                    this.build3();
                    this.build4();
                    this.build5();
                    this.build6();
                }
            },
            mounted:function(){
                this.buildChat();
            }
        });
    })()
</script>