<div class="dataAnalyzePage" id="jskqIndex">
    <div style="display: flex;">
        <div class="_div1" style="width: 220px;">
            <div @click="openPick(1,$event)" style="display: flex;justify-content:space-between;">
                <span>{{computT(1)}}</span>
                <img src="images/icon_calendar.png" width="14" height="14" />
            </div>
            <div>招到新生(人)<span style="font-size: 24px;color: #F5A623;margin:12px;">{{data1.d2}}</span><span style="font-size: 12px;color: #AAAAAA;">同比</span><span style="font-size: 12px;color:#88E91D;">{{data1.d3}}%</span></div>
        </div>
        <div class="_div2" v-for="d in data1.d4">
            <div class="_div2_1">{{d[0]}}</div>
            <div class="_div2_2">{{d[1]}}</div>
        </div>
    </div>
    <div style="display: flex;">
        <div class="dataAnalyzeBox">
            <div class="dataAnalyzeBox_t">
                <div class="dataAnalyzeBox_title">招生专业分析</div>
                <div class="dataAnalyzeBox_t_right">
                    <input type="text" @click="openPick(3,$event)" class="dataAnalyzeTime" :value="computT(3)" />
                    <input type="text" v-if="!type" @click="openDept(3,$event)" class="dataAnalyzeTime" :value="data3.dept" />
                </div>
            </div>
            <div class="dataAnalyzeBox_c">
                <div style="display: flex;margin:0px 30px;">
                    <div class="_div3" id="jskqIndex2"></div>
                </div>
            </div>
        </div>
        <div class="dataAnalyzeBox">
            <div class="dataAnalyzeBox_t">
                <div class="dataAnalyzeBox_title">招生区域分布</div>
                <div class="dataAnalyzeBox_t_right">
                    <input type="text" @click="openPick(4,$event)" class="dataAnalyzeTime" :value="data4.t" />
                </div>
            </div>
            <div class="dataAnalyzeBox_c">
                <!-- <div> -->
                    <!-- <div class="_div3" id="jskqztzb5"></div> -->
                    <div class="mapPhoto"></div>
                <!-- </div> -->
            </div>
        </div>
        <div class="dataAnalyzeBox">
            <div class="dataAnalyzeBox_t">
                <div class="dataAnalyzeBox_title">招生人数分析</div>
                <div class="dataAnalyzeBox_t_right">
                    <input type="text" @click="openPick(6,$event)" class="dataAnalyzeTime" :value="data6.t" />
                </div>
            </div>
            <div class="dataAnalyzeBox_c">
                <div>
                    <div class="_div3" id="jskqztzb6"></div>
                </div>
            </div>
        </div>
    </div>
    <div style="display: flex;">
        <div class="dataAnalyzeBox" style="">
            <div class="dataAnalyzeBox_t">
                <div class="dataAnalyzeBox_title">学生报道情况统计</div>
                <div class="dataAnalyzeBox_t_right">
                    <input type="text" @click="openPick(2,$event)" class="dataAnalyzeTime" :value="computT(2)" />
                    <!-- <span class="dataAnalyzeSearchBtn">搜索</span> -->
                </div>
            </div>
            <div>
                <div style="display: flex; margin-top: 30px; margin-left: 50px; margin-right: 50px;">
                    <div style="flex: 1">
                        <div style="text-align: center;">报道人数</div>
                        <div style="text-align: center; margin-top: 10px; color: #0294FF">{{num1}}</div>
                    </div>
                    <div style="flex: 1">
                        <div style="text-align: center;">缴费人数</div>
                        <div style="text-align: center; margin-top: 10px; color: #0294FF">{{num2}}</div>
                    </div>
                    <div style="flex: 1">
                        <div style="text-align: center;">欠费人数</div>
                        <div style="text-align: center; margin-top: 10px; color: #0294FF">{{num3}}</div>
                    </div>
                    <div style="flex: 1">
                        <div style="text-align: center;">未缴费</div>
                        <div style="text-align: center; margin-top: 10px; color: #0294FF">{{num4}}</div>
                    </div>
                    <div style="flex: 1">
                        <div style="text-align: center;">男/女</div>
                        <div style="text-align: center; margin-top: 10px; color: #0294FF">{{num5}}/{{(num1-num5)}}</div>
                    </div>
                </div>
                <div class="dataAnalyzeBox_c" id="jskqIndex1" style="height: 270px;">

                </div>
            </div>
        </div>
        <div class="dataAnalyzeBox" style="">
            <div class="dataAnalyzeBox_t">
                <div class="dataAnalyzeBox_title">招生生源类型分析</div>
                <div class="dataAnalyzeBox_t_right">
                    <input type="text" @click="openPick(5,$event)" class="dataAnalyzeTime" :value="computT(2)" />
                    <!-- <span class="dataAnalyzeSearchBtn">搜索</span> -->
                </div>
            </div>
            <div>
                <div class="rigthRe" id="jskqIndex5" style="height: 320px;"></div>
            </div>
        </div>
    </div>

    <div class="dataAnalyzeBox" style="margin-right: 0px;">
        <div class="dataAnalyzeBox_t">
            <div class="dataAnalyzeBox_title">招生情况明细统计</div>
            <div class="dataAnalyzeBox_t_right">
                <input type="text" @click="openPick(5,$event)" class="dataAnalyzeTime" :value="computT(2)" />
                <input type="text" v-if="!type" @click="openDept(5,$event)" class="dataAnalyzeTime" :value="data5.dept" />
            </div>
        </div>
        <div class="dataAnalyzeBox_c">
            <div class="table">
                <div id="table"></div>
            </div>
            <div class="list_footer">
                <div id="pagaBtns"></div>
            </div>
        </div>
    </div>
</div>
<style type="text/css">
    ._div1{
        background: #fff;
        border: 1px solid #E6EAEE;
        border-radius: 4px;
        overflow: hidden;
        padding:20px 10px;
        height: 63px;
    }
    ._div2{
        background: #fff;
        border: 1px solid #E6EAEE;
        border-radius: 4px;
        overflow: hidden;
        padding:22px 10px;
        height: 60px;
        flex: 1;
        margin-left: 10px;
    }
    ._div2_1{
        font-size: 14px;
        color: #666666;
        text-align: center;
    }
    ._div2_2{
        font-size: 16px;
        color: #F5A623;
        text-align: center;
    }
    ._div3{
        flex: 1;
        height: 250px;
    }
    .dataAnalyzeBox .table table{
        border: none;
    }
    .mapPhoto{
        width: 314px;
        height: 250px;
        background: url('images/mapPhoto.png') center center no-repeat;
        background-size: 314px  250px;
    }
</style>
<script src="js/echarts.min.js"></script>
<script type="text/javascript">
    (function(){
        $('.rightContent').css('background','none');
        var type = Y.urlQuery('type');
        var vue = new Vue({
            el:'#jskqIndex',
            data:{
                type:type,
                data1:{
                    type:'section',
                    t:'2018秋季',
                    d2:375,
                    d3:-1,
                    // d4:!type ? [['请假最多的班级','汽修17级03'],['异常请假最多班级','机械设计17级01'],['请假最多一天','2018.03.18'],['请假最多的学生','李明 （22次）'],['异常请假预警',' 20次']] : [['请假最多的月份','2018.03（6次）'],['异常请假最多月份','2018.04（4次）'],['请假最多一天','2018.03.18（12次）'],['请假最多的学生','李明（22次）'],['异常请假预警','6次']]
                    d4: [['招生最多专业','机械设计专业'], ['招生最多区域','重庆綦江'], ['生源类型最多','本省中考'], ['招生专业','5'], ['学生报到率','80%']]
                },
                data2:{
                    t:'2018秋季',
                    type:'section'
                },
                data3:{
                    t:'2018秋季',
                    type:'section',
                    d:!type ? [
                        ['教师总数',159,1],
                        ['出勤人数',124,1],
                        ['请假人数',12,2],
                        ['专职教师/兼职教师（人）','127/32',0]
                    ] : [
                        ['出勤总数（天）',159,1],
                        ['正常出勤（天）',124,1],
                        ['请假（天）',12,2]
                    ],
                    dept:'全部'
                },
                data4:{
                    t:'2018秋季',
                    type:'section',
                    d:[
                        ['迟到',159,1],
                        ['旷工',124,1],
                        ['请假',12,2],
                        ['早退',2,0],
                        ['范围外',3,-1]
                    ]
                },
                data5:{
                    t:'2018秋季',
                    type:'section',
                    d:[
                        {id:1}
                    ],
                    dept:'全部'
                },
                data6:{
                    t:'2018秋季',
                    type:'section',
                    d:[
                        {id:1}
                    ],
                    dept:'全部'
                },
                num1: parseInt(Math.random() * 30) + 70,
                num2: parseInt(Math.random() * 80),
                num3: parseInt(Math.random() * 30),
                num4: parseInt(Math.random() * 10),
                num5: parseInt(Math.random() * 50) + 30,
                num6: parseInt(Math.random() * 30) + 40,
                num7: parseInt(Math.random() * 30) + 20,
            },
            methods:{
                computT:function(flog){
                    return this['data' + flog].type == 'week' ? '第' + this['data' + flog].t + '周' : this['data' + flog].t;
                },
                openPick:function(flog,e){
                    var _this = this;
                    Y.dataAnalyzePick(function(type,value){
                        _this['data' + flog].type = type;
                        _this['data' + flog].t = value;
                        _this['build' + flog]();
                        if (flog == 2) {
                            _this.num1 = parseInt(Math.random() * 30) + 70;
                            _this.num2 = parseInt(Math.random() * 80);
                            _this.num3 = parseInt(Math.random() * 30);
                            _this.num4 = parseInt(Math.random() * 10);
                            _this.num5 = parseInt(Math.random() * 50) + 30;
                            _this.build2();
                        }
                        if (flog == 5) {
                            _this.num6 = parseInt(Math.random() * 30) + 40;
                            _this.num7 = parseInt(Math.random() * 30) + 20;
                            _this.build7();
                        }
                    },this['data' + flog].type,$(e.target), {section:true})
                },
                openDept:function(flog,e){
                    var _this = this;
                    Y.dataAnalyzePickDept(function(value){
                        _this['data' + flog].dept = value;
                        _this['build' + flog]();
                    },$(e.target))
                },
                build1:function(){
                    var total = type ? 30 : 200;
                    var p = 0.3;
                    this.data1.d2 = parseInt(total * p * (Math.random() + 0.5));
                    this.data1.d3 = parseInt(Math.random() * 20 - 10);
                },
                build2:function(){
                    var myChart = echarts.init(document.getElementById('jskqIndex1'));
                    var _this = this;
                    var labelTop = {
                        normal : {
                            label : {
                                show : true,
                                position : 'center',
                                formatter : '{b}',
                                textStyle: {
                                    baseline : 'bottom'
                                }
                            },
                            labelLine : {
                                show : false
                            }
                        }
                    };
                    var labelFromatter = {
                        normal : {
                            label : {
                                formatter : function (params){
                                    return 100 - params.value + '%'
                                },
                                textStyle: {
                                    baseline : 'top'
                                }
                            }
                        },
                    }
                    var labelBottom = {
                        normal : {
                            color: '#F1F4FB',
                            label : {
                                show : true,
                                position : 'center',
                                textStyle: {
                                    color : '#ccc'
                                }
                            },
                            labelLine : {
                                show : false
                            }
                        },
                        emphasis: {
                            color: 'rgba(0,0,0,0)'
                        }
                    };
                    var radius = [49, 59];
                    myChart.setOption( {
                        color : ['#75ADEE'],
                        textColor: ['#333333', '#333333', '#333333'],
                        legend: {
                            x : 'center',
                            y : 20,
                            data:[
                                'GoogleMaps','Facebook','Youtube','Google+','Weixin',
                                'Twitter', 'Skype', 'Messenger', 'Whatsapp', 'Instagram'
                            ]
                        },
                        title : {

                        },
                        toolbox: {

                        },
                        series : [
                            {
                                type : 'pie',
                                center : ['20%', '30%'],
                                radius : radius,
                                x: '0%', // for funnel
                                itemStyle : labelFromatter,
                                data : [
                                    {name:'other', value:parseInt(Math.random() * 30) + 15 , itemStyle : labelBottom},
                                    {name:'报到率', value:parseInt(Math.random() * 30) + 80 ,itemStyle : labelTop}
                                ]
                            },
                            {
                                type : 'pie',
                                center : ['50%', '30%'],
                                radius : radius,
                                x:'20%', // for funnel
                                itemStyle : labelFromatter,
                                data : [
                                    {name:'other', value:parseInt(Math.random() * 30) + 10, itemStyle : labelBottom},
                                    {name:'缴费率', value:parseInt(Math.random() * 30) + 90,itemStyle : labelTop}
                                ]
                            },
                            {
                                type : 'pie',
                                center : ['80%', '30%'],
                                radius : radius,
                                x:'20%', // for funnel
                                itemStyle : labelFromatter,
                                data : [
                                    {name:'other', value:_this.num1 - _this.num5, itemStyle : labelBottom},
                                    {name:'男女比率', value:_this.num5 ,itemStyle : labelTop}
                                ]
                            }
                        ]
                    });
                },
                build3:function(){
                    var data = [
                        {value:35, name:'海尔班'},
                        {value:31, name:'长安福特班'},
                        {value:23, name:'兵器工业班'},
                        {value:13, name:'IT信息班'},
                        {value:23, name:'常规专业'},
                    ]
                    var total = 0;
                    for(var i = 0; i < data.length; i ++){
                        var _t = parseInt(Math.random() * 100);
                        total += _t;
                        data[i].value = _t;
                    }
                    var myChart = echarts.init(document.getElementById('jskqIndex2'));
                    myChart.setOption({
                        color:['#9CDA58','#64BBFB','#E88E6D','#EBEBEB','#FDB55E'],
                        title : {
                            // text: '总请假人次' + total,
                            subtext: '',
                            x:'left',
                            y:'bottom'
                        },
                        tooltip : {
                            trigger: 'item',
                            formatter: "{a} <br/>{b} : {c} ({d}%)"
                        },
                        calculable : true,
                        series : [
                            {
                                name:'专业',
                                type:'pie',
                                radius : '55%',
                                center: ['50%', '60%'],
                                data:data
                            }
                        ]
                    });
                },
                build4:function(){
                    var myChart = echarts.init(document.getElementById('jskqztzb5'));
                    var total = 0;
                    switch(this.data4.type){
                        case 'year':
                            total = 360000;
                            break;
                        case 'month':
                            total = 3000;
                            break;
                        case 'week':
                            total = 700;
                            break;
                        default:
                            break;
                    }
                    var data = [
                        {value:310, name:'迟到'},
                        {value:234, name:'早退'},
                        {value:135, name:'缺卡'},
                        {value:1048, name:'范围外'},
                        {value:251, name:'旷工'},
                        {value:147, name:'请假'}
                    ]
                    var err = parseInt(Math.random() * 20) / 100 * total;
                    for(var i = 0; i < 5; i ++){
                        data[i].value = parseInt(err * 0.166);
                        err -= data[i].value;
                    }
                    if(err > 0){
                        data[5].value = err;
                    }
                    this.data4.d[0][1] = data[0].value;
                    this.data4.d[1][1] = data[4].value;
                    this.data4.d[2][1] = data[5].value;
                    this.data4.d[3][1] = data[1].value;
                    this.data4.d[4][1] = data[3].value;
                    myChart.setOption({
                        color:['#9CDA58','#64BBFB','#E88E6D','#EBEBEB','#FDB55E','#e91e63','#607d8b'],
                        tooltip : {
                            trigger: 'item',
                            formatter: "{a} <br/>{b} : {c} ({d}%)"
                        },
                        // legend: {
                        //     data:['迟到','早退','缺卡','范围外','旷工','请假'],
                        //     y:'bottom',
                        //     x: 'right'
                        // },
                        calculable : false,
                        series : [
                            {
                                name:'专业',
                                type:'pie',
                                radius : '55%',
                                center: ['50%', '60%'],

                                data:data
                            }
                        ]
                    });
                },
                build5:function(){
                    var option = {pageSize: "dataAnalyzejskqindex", pageNum: 1};
                    var config = [
                        !type ? {CH: "姓名", EN: "name"} : {CH: "招生专业", EN: "time"},
                        {CH: "学生", EN: "name"},
                        {CH: "招生来源", EN: 't2'},
                        {CH: "招生老师", EN: "t3"},
                        {CH: "区域", EN: "t4"},
                        {CH: "学年", EN: "t5"},
                        {CH: "报道情况", EN: "t6"},
                    ];
                    var list = new Y.List('', option, config);
                    var data = [];
                    var mojor = [
                        {value:35, name:'机械专业'},
                        {value:31, name:'电子商务'},
                        {value:23, name:'工程造价'},
                        {value:13, name:'美术设计'},
                        {value:18, name:'园林艺术'}
                    ];
                    var froms = [{value:35, name:'社会招生'}, {value:31, name:'自主招生'} , {value:23, name:'第三方合作招生'}, {value:13, name:'本省中考'}, {value:18, name:'跨省中考'}];
                    var trachers = [{value:35, name:'何大莉'}, {value:31, name:'雷晓兵'} , {value:23, name:'秦邵'}, {value:13, name:'罗斌'}, {value:18, name:'欧阳雷华'}];
                    var addresses = [{value:35, name:'重庆'}, {value:31, name:'四川'} , {value:23, name:'云南'}, {value:13, name:'贵州'}, {value:18, name:'湖北'}];
                    var bdqks = [{value:35, name:'已完成'}, {value:31, name:'欠费'} , {value:23, name:'未缴费'}, {value:13, name:'未报道'}, {value:18, name:'减免费用'}];
                    for(var i = 0; i < 50; i ++) {
                        var mo = mojor[parseInt(Math.random() * 5)].name;
                        var from = froms[parseInt(Math.random() * 5)].name;
                        var teacher = trachers[parseInt(Math.random() * 5)].name;
                        var address = addresses[parseInt(Math.random() * 5)].name;
                        var bdqk = bdqks[parseInt(Math.random() * 5)].name;
                        var _data = {
                            id:i,
                            time:mo,
                            t2:from,
                            t3:teacher,
                            t4:address,
                            t5:this.data4.t,
                            t6:bdqk,
                            name:'赵钱孙李周吴郑王'.charAt(parseInt(Math.random() * 9)) + '莉贺平飞云颖比波'.charAt(parseInt(Math.random() * 8)),
                            dept:dataDic.depts[parseInt(Math.random() * dataDic.depts.length)],
                            t1:parseInt(Math.random() * 1000),
                            // t5:parseInt(Math.random() * 10),
                            // t6:parseInt(Math.random() * 10),
                            // t7:parseInt(Math.random() * 10),
                            // t8:parseInt(Math.random() * 10)
                        };
                        data.push(_data);
                    }
                    list.SQLite = new Y.SQLite(data);
                    list.listNumTitle = "序号";
                    list.load();
                },
                build6:function(){
                    var myChart = echarts.init(document.getElementById('jskqztzb6'));
                    var data1 = [],data2 = [];
                    for(var i = 0; i < 4; i ++){
                        data1.push(parseInt(Math.random() * 500));
                    }
                    myChart.setOption( {
                        color:['#34B5FF'],
                        tooltip : {
                            trigger: 'axis'
                        },
                        legend: {
                            data:['招生人数：378人']
                        },
                        calculable : true,
                        xAxis : [
                            {
                                type : 'category',
                                data : ['2018秋季', '2018春季', '2017秋季', '2017春季']
                            }
                        ],
                        yAxis : [
                            {
                                type : 'value'
                            }
                        ],
                        series : [
                            {
                                name:'招生人数',
                                type:'bar',
                                data:data1
                            },
                        ]
                    });
                },
                build7:function(){
                    var myChart = echarts.init(document.getElementById('jskqIndex5'));
                    var _this = this;
                    myChart.setOption( {
                        color:['#9CDA58','#64BBFB','#E88E6D'],
                        title : {
                            // text: '某站点用户访问来源',
                            // subtext: '纯属虚构',
                            // x:'center'
                        },
                        tooltip : {
                            trigger: 'item',
                            formatter: "{a} <br/>{b} : {c} ({d}%)"
                        },
                        legend: {
                            orient : 'vertical',
                            x : 'right',
                            y : 'center',
                            data:['第三方合作招生','自主招生','社会招生']
                        },
                        toolbox: {

                        },
                        calculable : true,
                        series : [
                            {
                                name:'访问来源',
                                type:'pie',
                                radius : '55%',
                                center: ['40%', '60%'],
                                data:[
                                    {value:_this.num6, name:'第三方合作招生'},
                                    {value:_this.num7, name:'自主招生'},
                                    {value:_this.num1 - _this.num6 - _this.num7, name:'社会招生'},
                                ]
                            }
                        ]
                    });
                },
                buildChat:function(){
                    this.build1();
                    this.build2();
                    this.build3();
                    // this.build4();
                    this.build5();
                    this.build6();
                    this.build7();
                }
            },
            mounted:function(){
                this.buildChat();
            }
        });
    })()
</script>